.navbar{
    background: black;
    padding: 5px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar__content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__content *{
    display: inline-block;
    margin-left: 20px;
    justify-content: center;
}

a:-webkit-any-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}